<div class="giftsList">
  <h1>Lista de Presentes</h1>
  
  <% if (locals.allGifts.length === 0) { %>
    <p><i>Ainda não há presentes para escolher. Tente novamente mais tarde.</i></p>
  <% } else { %>
    <form action="/presentes" method="post">
      <legend>
        Escolha um presente na lista abaixo e toque em salvar.
        Você pode alterar depois. Presentes que já foram escolhidos,
        estão bloqueados.
      </legend>
  
      <div class="inputRadioGroup">
        <% locals.allGifts.forEach(g => { %>
          <div class="formRadioRow">
            <input
              type="radio"
              name="giftId"
              id="<%= g.id %>"
              required
              value="<%= g.id %>"
              <%= g.userId == locals.user.id ? "checked" : "" %>
              <%= g.userId && !(g.userId == locals.user.id) ? "disabled" : "" %>
            >

            <label
              class="<%= g.userId && !(g.userId == locals.user.id) ? "taken" : "" %>"
              for="<%= g.id %>"
            >
              <%= g.name %>
            </label>
          </div>
        <% }) %>
      </div>
  
      <button type="submit">Salvar</button>
    </form>
  
    <a class="danger removeChoice" href="/presentes/minha-escolha/remover">
      Remover escolha
    </a>
  <% } %>
</div>