<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Diego 💍 Paloma<%= locals.title ? ` | ${locals.title}` : "" %></title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#6a7b64">
    <meta name="apple-mobile-web-app-status-bar-style" content="#6a7b64">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <% if (!locals.noHeader && locals.user) { %>
      <%- include("header") %>
    <% } %>

    <main>
      <%- include(locals.template) %>
    </main>
      
    <%- include("footer") %>
    
    <%- include("graphics") %>
  </body>
</html>
