<div class="loginContainer">
  <img id="heartSvg" src="/heart.svg">

  <h1>Bem-vindo(a)!</h1>
  
  <form action="/entrar" method="post">
    <div class="formRow">
      <label for="guestId">Seu nome:</label>
      <select name="guestId" id="guestId">
        <option value="">--Selecione seu nome--</option>
        <% locals.guests.forEach(guest => { %>
          <option
            value="<%= guest.id %>"
            <%= locals.values?.guestId == guest.id ? "selected" : "" %>
          >
            <%= guest.name %>
          </option>
        <% }) %>
      </select>
    </div>  
  
    <div class="formRow">
      <label for="phone">
        Seu número do WhatsApp (DDD + telefone, apenas números):
      </label>
      <input
        type="tel"
        name="phone"
        id="phone"
        maxlength="11"
        minlength="11"
        placeholder="Ex.: 64993380234"
        value="<%= locals.values?.phone || "" %>"
        required
      >
      <p class="formError"><i><%= locals.error %></i></p>
    </div>
  
  
    <button type="submit">Entrar</button>
  </form>

  <p class="note">
    Não se preocupe,
    <br>
    seu número não foi compartilhado com terceiros!
    <br>
    Este site foi feito pelo noivo.
  </p>
</div>